# =========================
# Project Manager Files
# =========================

# =========================

# Test space and Workspace
.*_space

# Storage directory
storage/.local
storage/profiles

# Allow Git config files
!.gitignore
!.gitattributes

# Allow apache config files
!.htaccess

# =========================

# =========================
# Operating System Files
# =========================

#Misc. files
#.*
*~
*.tmp
.directory

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and image file caches
._*
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
