<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" />

		<title> Web App </title>

		<meta name="robots" content="noindex" />
		<meta name="description" content="Web-based application and UI.">

		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content="#000000" />
		
		<script src="lib/jquery/jquery.min.js"></script>
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
		
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="fonts/webfonts.css" />
		
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/design.css" />
		
	</head>

	<body translate="no" >
	
	<!--
		<link rel="stylesheet" href="./assets/bubbles/bubbles.css" />
		<script src="./assets/bubbles/bubbles.js"></script>
		<ul class="bg-bubbles"></uL>
	-->
	
		<header class="main">
			
			<ul class="navbar">
				<div class="container">
					
				</div>
			</ul>
			
			<div class="intro">
				<div class="container">
					<h1 class="site-title"> Web App </h1>
					<p class="description">
						Some description here
					</p>
				</div>
			</div>

		</header>
		
		<div class="container">
				
			<!--
			<section class="site-content">
				<p class="description h4">
					Please login to your account first.
				</p>
				
				<button class="btn btn-primary btn-square float-bottom">
					Login
				</button>
			</section>
			-->
			
			<section class="site-content">
				<p class="description h4">
					
				</p>
				
				<div class="list-group">
					<a href="#" class="list-group-item"> <span class="badge">12</span> <span>First item</span> </a>
					<a href="#" class="list-group-item"> <span class="badge">13</span> <span>Second item</span> </a>
					<a href="#" class="list-group-item"> <span class="badge">14</span> <span>Third item</span> </a>
				</div>

			</section>

		</div>
		
		<script>
		/*
			if (location.href.indexOf('static') == -1)
			$(function() {
				setTimeout(function() {
					location.reload();
				}, 3000);
			});
		*/
		</script>

	</body>
</html>
 
